%h2 Dodawanie nowej galerii

= error_messages_for @gallery

= form_for @gallery, :action => slice_url(:galleries) do
  %p= text_field :name, :label => "Nazwa galerii"
  %p= text_area :description, :label => "Opis galerii"

  = part GallerySlice::GallerySlicePartsPart => :render_photos_form
  
  %p= "#{submit "Dodaj galerię"} #{link_to "anuluj", slice_url(:galleries)}"
